.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2); /* Borde negro fino */
  border-radius: 0; /* Sin bordes redondeados */
  padding: 20px;
  margin: 15px;
  width: 240px;
  transition: transform 0.3s ease-in-out;
  background-color: #0a0a0a; /* Fondo gris */
  overflow: hidden;
  position: relative;
}

/* Seudo-elemento antes de la tarjeta */
.card::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
  background: rgba(255, 255, 255, 0.5); /* Borde blanco brillante */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 0; /* Sin bordes redondeados */
}

/* Efecto de desenfoque al pasar el cursor sobre la tarjeta */
.card:hover::before {
  opacity: 1;
  backdrop-filter: blur(8px);
}

/* Efecto de escala al pasar el cursor sobre la tarjeta */
.card:hover {
  transform: scale(1.07); /* Aumenta el valor de escala */
}

/* Estilos para la imagen */
.image {
  width: 100%;
  height: auto;
  border-radius: 0; /* Sin bordes redondeados en la imagen */
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Reducción del brillo de la imagen al pasar el cursor sobre la tarjeta */
.card:hover .image {
  filter: brightness(0.85); /* Ajusta el brillo */
  transform: scale(1.1); /* Aumenta el tamaño de la imagen */
}

/* Estilo para el nombre de la tarjeta */
.name {
  font-size: 20px;
  margin: 10px 0;
  color: white; /* Texto blanco */
  text-decoration: none; /* Elimina el subrayado */
}

/* Estilo para géneros y calificación */
.genres,
.rating {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 0;
  border-radius: 0; /* Sin bordes redondeados en géneros y calificación */
  margin-top: 5px;
  font-size: 13px;
  text-align: center;
  text-decoration: none; /* Elimina el subrayado */
}
