/* HomeContent.module.css */

.cardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}

.eachCard {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px; /* Márgenes ajustados para un mejor espaciado */

  @media (max-width: 768px) {
    flex: 0 0 calc(50% - 20px); /* Dos cartas por fila en pantallas más pequeñas */
  }

  @media (max-width: 480px) {
    flex: 0 0 calc(100% - 20px); /* Una carta por fila en pantallas aún más pequeñas */
  }
}

